# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production

# Credentials and sensitive files
*.key
*.pem
*.p12
*.pfx
*.json.secret
*-credentials.json
setup-redis-homelab.sh
.env.sample
REDIS_HOMELAB_SETUP.md
VERCEL_ENV_VARS.txt
EMAIL_TROUBLESHOOTING.md
VERCEL_DEPLOYMENT_GUIDE.md

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
